### macOS ###
.DS_Store

### PyCharm / IntelliJ ###
.idea/*
*.iml

### Python ###
__pycache__
*.py[cod]

### PyPI ###
.pypirc

### Packaging ###
setup.cfg
setup.py
lp_api_wrapper.egg-info
dist
build
test

### Personal ###
lp_api_wrapper/own_testing

### logs ###
logs/